:root {
  --primary: #3c3a39;
  --white: #fff;
  --dark: #1c1a19;
  --orange: #ff6b00;
  --offwhite: #fff5e1;
  --disabled: #f4f1f0;
  --disabledText: #5b5957;
}

body {
  margin: 0;
}

.toolBar {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  height: 48px;
}

.name {
  text-decoration: none;
  width: 77px;
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin-left: 24px;
  flex: 2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.tlbrBtn {
  background-color: var(--primary);
  border: none;
  margin-right: 32px;
}

.headline {
  background-image: url(Assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 12px;
  height: 590px;
}

.primaryText {
  font-family: "Crete Round", serif;
  margin: 0;
  width: 327px;
  height: 124px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: var(--orange);
}

.supportText {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.description {
  width: 327px;
  height: 123px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: var(--white);
}

.socialMedia {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0;
}

.sMItems {
  list-style: none;
  border: none;
  background-color: var(--dark);
  width: 40px;
  height: 40px;
}

.works {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.worksText {
  border-bottom: 1px solid #212121;
  width: 327px;
  height: 83px;
  font-family: "Crete Round", serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}

.frames {
  display: grid;
  grid-column: 1;
  justify-content: center;
  padding: 0;
}

.frame {
  list-style: none;
  width: 327px;
  height: 386px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.firstF {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(Assets/backgroundA.jpg);
}

.secondF {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(Assets/backgroundB.jpg);
}

.thirdF {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(Assets/backgroundC.jpg);
}

.fourthF {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(Assets/backgroundD.jpg);
}

.fifthF {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(Assets/backgroundE.jpg);
}

.titlePost {
  padding: 0 16px;
  margin-bottom: 0;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
}

.titlePostText {
  padding: 0 16px;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.action {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.06rem;
  line-height: 24px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  background-color: var(--orange);
  align-items: center;
  border: none;
  color: var(--white);
}

.codeBtnContainer {
  gap: 10px;
  padding-left: 16px;
}

.codeBtn {
  padding-top: 15px;
  text-align: center;
  margin-right: 10px;
  width: 93px;
  height: 40px;
  list-style: none;
  float: left;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.codeBtn:hover,
.action:hover,
.btn:hover {
  background-color: var(--offwhite);
  color: var(--orange);
}

.codeBtn:disabled,
.action:disabled,
.btn:disabled {
  background-color: var(--disabled);
  color: var(--disabledText);
}

.aboutme {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-color: var(--dark);
  background-image: url(Assets/Frame.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.aboutmeTitle {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: var(--orange);
  margin-bottom: 24px;
  margin-top: 120px;
}

.aboutmeText {
  margin: 0 0 24px 0;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.btn {
  background-color: var(--orange);
  color: var(--white);
  width: 161px;
  height: 48px;
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.skills {
  margin-top: 200px;
  border-top: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0 0 0;
}

.skill {
  list-style: none;
}

.shape1 {
  height: 18px;
  width: 18px;
  transform: rotate(-45deg);
  background-color: var(--orange);
}

.shape2 {
  height: 18px;
  width: 18px;
  background-color: var(--orange);
}

.shape3 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--orange);
}

.childLi {
  list-style: none;
}

.division {
  display: flex;
  align-items: center;
}

.skillName {
  margin-left: 12px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: var(--white);
  line-height: 44px;
}

.childUl {
  margin-bottom: 44px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  border-bottom: 1px solid var(--orange);
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
